<!DOCTYPE html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
</head>


<body>
<!--    <form>-->
<!--&lt;!&ndash;    <form action="/" method="post">&ndash;&gt;-->
<!--        <input type="submit" value="Submit" id='but' onclick='console.log("Hello")'>-->
<!--    </form>-->
    <button id="but">Click me!</button>
<!--    <script type="text/javascript" src="../static/test.js">-->
<!--    </script>-->
    <script>
        console.log("Hello world!");
        var data = {name: "Patrik", age: 20, occupation: "dev"};
        function fun() {
            console.log(JSON.stringify(data));
            $.ajax({
                  type: "POST",
                  contentType: "application/json;charset=utf-8",
                  url: "/",
                  data: JSON.stringify(data),
                  dataType: "json"
                  });
        }

        document.getElementById("but").addEventListener("click", fun);
    </script>

</body>