<!doctype html>
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            word-wrap:break-word;
            padding: 5px;
        }
    </style>
    <meta charset="utf-8" />
	<script type="text/javascript" src="https://api.mapy.cz/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript">Loader.lang = "cs"; Loader.load(null, {poi:true});</script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <ul>
         <li><a href="/">Home</a></li>
         <li><a href="/map">Map</a></li>
         <li><a href="/fileSystem/root">File System</a></li>
         {% if loggedIn %}
            <li style="float:right"><a href="/logout">Logout</a></li>
         {% else %}
            <li style="float:right"><a href="/login">Login</a></li>
         {% endif %}
    </ul>
	<div id="mapa" style="width:800px; height:600px;"></div>
    <form id="form">
        <p>
            <label>Search for: <br/> <input type="text" id="place_search" value="Hrad Kost" size="30"/></label>
            <input type="submit" value="Search" />
            <br/>
        </p>
    </form>
    <div id="searchResult">Search Result:<br/>
        <p id="searchResultPar"></p>
    </div>
    <label>Coordinates to search for on map: <br/> <input type="text" id="coordinate_search_text" size="50"/></label>
    <button id="coordinate_search_button">Find</button>
    <br/>
    <div>
        <p>
            <label>Marker name: <br/> <input type="text" id="place_marker_name" size="40"/></label><br/>
            <label>Additional marker info:</label><br/>
            <textarea id="place_marker_info" rows="5" cols="50"></textarea><br/>
            <label>Marker Coordinates: <br/> <input type="text" id="place_marker_coords" size="50"/></label>
            <button id="place_marker_button">Place Marker</button>
            <br/>
        </p>
        <p>
            <label>Insert name of marker you want to delete: <br/> <input type="text" id="delete_marker_name" size="40"/></label><br/>
            <button id="delete_marker_button">Delete Marker</button>
        </p>
    </div>
    <table id="markersTable">
    </table>
    <script type="text/javascript" src="../static/map_display.js"></script>
    <script>
        createMarkersFromJson({{ markersData|tojson }})
    </script>
</body>
</html>