<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
	<script type="text/javascript" src="https://api.mapy.cz/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript">Loader.lang = "cs"; Loader.load(null, {poi:true});</script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <ul>
         <li><a href="/">Home</a></li>
         <li><a href="/map">Map</a></li>
         <li><a href="/fileSystem/root">File System</a></li>
         {% if loggedIn %}
            <li style="float:right"><a href="/logout">Logout</a></li>
         {% else %}
            <li style="float:right"><a href="/login">Login</a></li>
         {% endif %}
    </ul>
	<div id="mapa" style="width:600px; height:450px;"></div>
    <form id="form">
        <p>
            <label>Hledaná oblast: <br/> <input type="text" id="place_search" value="Hrad Kost" size="30"/></label>
            <input type="submit" value="Hledat" />
            <br/>
        </p>
    </form>
    <div id="searchResult">Výsledek hledání:<br/>
        <p id="searchResultPar"></p>
    </div>
    <label>Hledání na mapě podle souřadnic: <br/> <input type="text" id="coordinate_search_text" size="50"/></label>
    <button id="coordinate_search_button">Find</button>
    <br/>
    <label>Vytvoř ukazatel na zadaných souřadnicích: <br/> <input type="text" id="place_marker_text" size="50"/></label>
    <button id="place_marker_button">Place Marker</button>
    <br/>
    <button id="sendMarkers">Send Markers</button>
    <script type="text/javascript" src="../static/map_display.js"></script>
</body>
</html>