<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testing</title>
</head>
<body>
<table>
    <tr>
        <td>Jméno značky</td>
        <td>Souřadnice značky</td>
        <td>Informace značky</td>
        <td>Linky značky</td>
    </tr>
    <tr>
        <td>Kost</td>
        <td>50°29'24.268"N, 15°8'13.486"E</td>
        <td>Kost je hrad</td>
        <td>
            <a target='_blank' href='<a target='_blank' href='https://drive.google.com/drive/folders/1oNEVldK5QGf4zdSwmxw2navm4g9xiYLk'>Link</a>'>Link</a><a target='_blank' href='<a target='_blank' href='https://drive.google.com/drive/folders/1oNEVldK5QGf4zdSwmxw2navm4g9xiYLk'>Link2</a>'>Link2</a></td></tr><tr><td>Kozel</td><td>49°40'14.297"N, 13°31'47.757"E</td><td>Zámek</td><td></td></tr><tr><td>Beroun</td><td>49°57'49.764"N, 14°4'19.187"E</td><td>Město</td><td></td></tr><tr><td>Loděnice</td><td>49°59'41.488"N, 14°9'28.263"E</td><td>Obec</td><td></td></tr></table>
</body>
</html>