<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
     <ul>
         <li><a href="/">Home</a></li>
         {% if loggedIn %}
            <li><a href="/logout">Logout</a></li>
         {% else %}
            <li><a href="/login">Login</a></li>
         {% endif %}
    </ul>
    <h1>Welcome to homepage!</h1>
    {% if loggedIn %}
        {% for file in files %}
            {{ file }}<br/>
        {% endfor %}
    {% endif %}

</body>
</html>